extends layout

block content
    h2 We help you teach others code
    h4 Create a sequence of coding tasks to compose a lesson, then share it to people who want to better understand an API, library or framework
    button.btn.btn-primary Create new Lesson
