extends layout

block content

    if users.length
        p Here are the current entries:
        ul.users
            for user in users
                li.user
                    a(href='/users/#{user.id}') #{user.title}
    else
        p There are no entries.

    form(action'/users', method='POST')
        p Create a new user:
        input(type='text', name='title', placeholder="Who?", required)
        input(type='submit', value='Create')
    
